# SQL Query Execution
This notebook is intended to be used for executing queries on the duckdb database as part of this project.

In [ ]:
import duckdb
import pandas as pd

In [ ]:
# Creates duckdb database named baby_names.db
sql_query = '''
SELECT *
FROM old_testament_names
'''

with duckdb.connect('data/baby_names.db') as con:
    display(con.sql(sql_query).df())

In [ ]:
# Imports raw data to bronze tables in baby_names db
sql_import_births = '''
CREATE OR REPLACE TABLE total_state_births AS 
SELECT *
FROM read_csv_auto(
    'data/births.csv',
    normalize_names=True
)
'''

sql_import_baby_names_by_state = '''
CREATE OR REPLACE TABLE state_baby_names AS 
SELECT *
FROM read_csv_auto(
    'data/baby-names-by-state.csv',
    normalize_names=True
)
'''

sql_import_geography = '''
CREATE OR REPLACE TABLE state_geography AS
SELECT *
FROM read_csv_auto(
    'data/GEOINFO2023.GEOINFO-Data.csv',
    normalize_names=True
)
'''

sql_import_old_testament = '''
CREATE OR REPLACE TABLE old_testament_names AS
SELECT *
FROM read_csv(
    'data/old-testament.txt',
    header=False,
    columns={
        'Name': 'VARCHAR'
    }
)
'''

sql_import_educational_attainment = '''
CREATE OR REPLACE TABLE state_educational_attainment AS
SELECT *
FROM read_csv_auto(
    'data/ACSST5Y2022.S1501-Data.csv',
    normalize_names=True
)
'''

sql_import_demographics = '''
CREATE OR REPLACE TABLE state_demographics AS
SELECT *
FROM read_csv_auto(
    'data/ACSSPP1Y2022.S0201-Data.csv',
    normalize_names=True
)
'''

with duckdb.connect('data/baby_names.db') as con:
    display(con.sql(sql_import_births))
    display(con.sql(sql_import_baby_names_by_state))
    display(con.sql(sql_import_geography))
    display(con.sql(sql_import_old_testament))
    display(con.sql(sql_import_educational_attainment))
    display(con.sql(sql_import_demographics))