# SQL Query Execution
This notebook is intended to be used for executing queries on the duckdb database as part of this project.

In [2]:
import duckdb
import pandas as pd

In [45]:
# Creates duckdb database named baby_names.db
sql_query = '''
show tables
'''

with duckdb.connect('data/baby_names.db') as con:
    display(con.sql(sql_query).df())

                                   name
0                    bronze_name_counts
1            bronze_old_testament_names
2                   bronze_state_births
3             bronze_state_demographics
4   bronze_state_educational_attainment
5                bronze_state_geography
6                           first_model
7                   old_testament_names
8             state_abbreviation_lookup
9                      state_baby_names
10                   state_demographics
11         state_educational_attainment
12                      state_geography
13                   total_state_births

In [74]:
# Creates duckdb database named baby_names.db
sql_query = '''
SELECT count(*)
FROM bronze_state_abbreviation AS ST_ABBREV
INNER JOIN bronze_state_demographics AS ST_DEMOS
    ON ST_DEMOS.state_name = ST_ABBREV.state_name
INNER JOIN bronze_state_educational_attainment AS ST_EDU
    ON ST_EDU.state_id = ST_DEMOS.state_id
INNER JOIN bronze_state_geography AS ST_GEO
    on ST_GEO.state_id = ST_EDU.state_id
'''

with duckdb.connect('data/baby_names.db') as con:
    display(con.sql(sql_query).df())

   count_star()
0            51

In [44]:
# Imports raw data to bronze tables in baby_names db
sql_import_births = '''
CREATE OR REPLACE TABLE total_state_births AS 
SELECT *
FROM read_csv_auto(
    'data/births.csv',
    normalize_names=True
)
'''

sql_import_baby_names_by_state = '''
CREATE OR REPLACE TABLE state_baby_names AS 
SELECT *
FROM read_csv_auto(
    'data/baby-names-by-state.csv',
    normalize_names=True
)
'''

sql_import_state_mappings = '''
CREATE OR REPLACE TABLE state_abbreviation_lookup AS 
SELECT *
FROM read_csv_auto(
    'data/states.csv',
    normalize_names=True
)
'''

sql_import_geography = '''
CREATE OR REPLACE TABLE state_geography AS
SELECT *
FROM read_csv_auto(
    'data/GEOINFO2023.GEOINFO-Data.csv',
    normalize_names=True,
    header=True
)
'''

sql_import_old_testament = '''
CREATE OR REPLACE TABLE old_testament_names AS
SELECT *
FROM read_csv(
    'data/old-testament.txt',
    header=False,
    columns={
        'Name': 'VARCHAR'
    }
)
'''

sql_import_educational_attainment = '''
CREATE OR REPLACE TABLE state_educational_attainment AS
SELECT *
FROM read_csv_auto(
    'data/ACSST5Y2022.S1501-Data.csv',
    normalize_names=True,
    header=True
)
'''

sql_import_demographics = '''
CREATE OR REPLACE TABLE state_demographics AS
SELECT *
FROM read_csv_auto(
    'data/DECENNIALCD1182020.P9-Data.csv',
    normalize_names=True,
    header=True
)
'''

with duckdb.connect('data/baby_names.db') as con:
    display(con.sql(sql_import_births))
    display(con.sql(sql_import_baby_names_by_state))
    display(con.sql(sql_import_geography))
    display(con.sql(sql_import_old_testament))
    display(con.sql(sql_import_educational_attainment))
    display(con.sql(sql_import_demographics))
    display(con.sql(sql_import_state_mappings))

None

None

None

None

None

None

None